<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.escort.carriage.android">

    <permission
        android:name="com.escort.carriage.android.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.escort.carriage.android.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".ProjectApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup, android:theme, android:label,android:hardwareAccelerated"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.activity.SplashTwoActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity> <!-- <activity -->
        <!-- android:name=".ui.activity.SplashActivity" -->
        <!-- android:hardwareAccelerated="true" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/SplashTheme"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- <meta-data -->
        <!-- android:name="android.notch_support" -->
        <!-- android:value="true" /> -->
        <!-- </activity> -->
        <!-- 登录页面 -->

        <meta-data
            android:name="CurrentEnvironment"
            android:value="PROD" ><!--PROD or TEST-->
        </meta-data>

        <meta-data
            android:name="PPPaySDK"
            android:value="true" />

        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false"/>

        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 首页 -->
        <activity
            android:name=".ui.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 短信 登录页面 -->
        <activity
            android:name=".ui.activity.login.LoginPhoneActivity"
            android:screenOrientation="portrait" /> <!-- 登陆 忘记密码 -->
        <activity
            android:name=".ui.activity.login.ForgetPwdActivity"
            android:screenOrientation="portrait" /> <!-- 登陆 忘记密码 设置密码页面 -->
        <activity
            android:name=".ui.activity.login.ForgetSetPwdActivity"
            android:screenOrientation="portrait" /> <!-- 注册设置手机号页面 -->
        <activity
            android:name=".ui.activity.login.RegisterPhoneActivity"
            android:screenOrientation="portrait" /> <!-- 注册设置密码 -->
        <activity
            android:name=".ui.activity.login.RegisterSetPwdActivity"
            android:screenOrientation="portrait" /> <!-- 登录页面 -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 头条 列表页面 -->
        <activity
            android:name=".ui.activity.mes.NewsListActivity"
            android:screenOrientation="portrait" /> <!-- 头条 详情页面 -->
        <activity
            android:name=".ui.activity.mes.NewsDetailsActivity"
            android:screenOrientation="portrait" /> <!-- 首页 信息 详情页面 -->
        <activity
            android:name=".ui.activity.mes.OrderInfoActivity"
            android:screenOrientation="portrait" /> <!-- 首页选择 数据页面 -->
        <activity
            android:name=".ui.activity.mes.SelectOrderActivity"
            android:theme="@style/transparent_activity" /> <!-- 首页选择 数据页面 -->
        <activity
            android:name=".ui.activity.mes.BiddingActivity"
            android:theme="@style/transparent_activity"
            android:windowSoftInputMode="adjustResize" /> <!-- 设置页面 -->
        <activity
            android:name=".ui.activity.my.SettingActivity"
            android:screenOrientation="portrait" /> <!-- 修改密码 -->
        <activity
            android:name=".ui.activity.my.UpdataPwdActivity"
            android:screenOrientation="portrait" /> <!-- 修改手机号 -->
        <activity
            android:name=".ui.activity.my.ChangePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImagePreviewActivity"
            android:screenOrientation="portrait" /> <!-- 修改手机号  设置短信验证码页面 -->
        <activity
            android:name=".ui.activity.my.ChangePhoneSetCodeActivity"
            android:screenOrientation="portrait" /> <!-- 个人信息认证 -->
        <activity
            android:name=".ui.activity.my.PersonageAuthenticationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" /> <!-- 企业认证 -->
        <activity
            android:name=".ui.activity.my.EnterpriseAuthenticationActivity"
            android:screenOrientation="portrait" /> <!-- 用户详情 -->
        <activity
            android:name=".ui.activity.my.UserInfoActivity"
            android:screenOrientation="portrait" /> <!-- 押镖认证 -->
        <activity
            android:name=".ui.activity.my.EscortAuthenticationActivity"
            android:screenOrientation="portrait" /> <!-- 行驶证信息认证 -->
        <activity
            android:name=".ui.activity.my.CarLicenseAuthentivationActivity"
            android:screenOrientation="portrait" /> <!-- 驾驶证信息认证 -->
        <activity
            android:name=".ui.activity.my.DriverAuthentivationActivity"
            android:screenOrientation="portrait" /> <!-- 我的订单 -->
        <activity
            android:name=".ui.activity.mes.MyOrderListActivity"
            android:screenOrientation="portrait" /> <!-- 我的投标 -->
        <activity
            android:name=".ui.activity.my.MyBidActivity"
            android:screenOrientation="portrait" /> <!-- 信息缴费 -->
        <activity
            android:name=".ui.activity.play.PlayMesFeesActivity"
            android:screenOrientation="portrait" /> <!-- 装卸车 列表 页面 -->
        <activity
            android:name=".ui.activity.my.LoadingUnloadListActivity"
            android:theme="@style/transparent_activity" /> <!-- 装卸车 列表 页面 -->
        <activity
            android:name=".ui.activity.my.RouteNavigationActivity"
            android:theme="@style/transparent_activity" /> <!-- 历史订单 -->
        <activity
            android:name=".ui.activity.mes.HistoryOrderListActivity"
            android:screenOrientation="portrait" /> <!-- 评价 -->
        <activity
            android:name=".ui.activity.my.MyOrderAppraiseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" /> <!-- 申诉 -->
        <activity
            android:name=".ui.activity.my.AppealActivity"
            android:screenOrientation="portrait" /> <!-- 转单 -->
        <activity
            android:name=".ui.activity.my.TransfeOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" /> <!-- 我的钱包 -->
        <activity
            android:name=".ui.activity.play.WalletMenuActivity"
            android:screenOrientation="portrait" /> <!-- 特惠充值 -->
        <activity
            android:name=".ui.activity.play.ChargeMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".web.AppWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.web.VueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mes.ImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ImageLookActivity"
            android:screenOrientation="portrait" /> <!-- 微信 开始 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.escort.carriage.android"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.activity.OrderTraceActivty"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.ChatActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.TraceDetailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.ContextMenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.SatisfactionActivity"
            android:screenOrientation="portrait"/>

        <!--        <activity-->
<!--            android:name=".wxapi.WXPayEntryActivity"-->
<!--            android:exported="true"-->
<!--            android:launchMode="singleTop" /> &lt;!&ndash; 微信 结束 &ndash;&gt;-->
        <!-- 极光推送开始 -->
        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".receiver.CallBackReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.escort.carriage.android" />
            </intent-filter>
        </receiver> <!-- 极光推送自定义广播 -->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.escort.carriage.android" />
            </intent-filter>
        </receiver>

        <service
            android:name=".receiver.PushService"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <activity android:name=".jpush.OpenClickActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <service android:name="cn.jpush.android.service.PluginHuaweiPlatformsService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="false"
            android:process=":amap_service" />
    </application>

</manifest>